body {
    font-family: "Cera Pro", sans-serif;
    font-weight: 500;
    position: relative;
}

.container {
    max-width: 1410px;
    width: 330 / 360 * 100%;
    margin: 0 auto;
    position: relative;
}