@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraProMedium/CeraPro-Medium.eot');
    src: local('Cera Pro Medium'), local('CeraPro-Medium'),
        url('../fonts/CeraProMedium/CeraPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CeraProMedium/CeraPro-Medium.woff') format('woff'),
        url('../fonts/CeraProMedium/CeraPro-Medium.woff2') format('woff2'),
        url('../fonts/CeraProMedium/CeraPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraProBold/CeraPro-Bold.eot');
    src: local('Cera Pro Bold'), local('CeraPro-Bold'),
        url('../fonts/CeraProBold/CeraPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CeraProBold/CeraPro-Bold.woff') format('woff'),
        url('../fonts/CeraProBold/CeraPro-Bold.woff2') format('woff2'),
        url('../fonts/CeraProBold/CeraPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraProRegular/CeraPro-Regular.eot');
    src: local('Cera Pro Regular'), local('CeraPro-Regular'),
        url('../fonts/CeraProRegular/CeraPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CeraProRegular/CeraPro-Regular.woff2') format('woff2'),
        url('../fonts/CeraProRegular/CeraPro-Regular.woff') format('woff'),
        url('../fonts/CeraProRegular/CeraPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraProLight/CeraPro-Light.eot');
    src: local('Cera Pro Light'), local('CeraPro-Light'),
        url('../fonts/CeraProLight/CeraPro-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CeraProLight/CeraPro-Light.woff2') format('woff2'),
        url('../fonts/CeraProLight/CeraPro-Light.woff') format('woff'),
        url('../fonts/CeraProLight/CeraPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

/* montserrat-regular - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Montserrat/montserrat-v18-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/Montserrat/montserrat-v18-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/Montserrat/montserrat-v18-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/Montserrat/montserrat-v18-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
        url('../fonts/Montserrat/montserrat-v18-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/Montserrat/montserrat-v18-latin_cyrillic-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}